@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #3f3f3f;
  --background: #f5bfbf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #efefef;
    --background: #6d5252;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
